body {
  font-family: arial, sans-serif;
  margin: 0px;
  background-color: rgb(63,67,73);
}

a {
	text-decoration: none;
	color: inherit;
}

@media(min-width: 1000px) {
  .sidebar {
    font-size: 1.7rem;
    width: 200px;
  }

  .main_area {
    left: 200px;
    width: 85%;
  }

  .projects {
    display: grid;
    grid-template-areas:
  	"area1 area2"
  }

  .project1 {
    grid-area: area1;
    padding-left: 30px;
    padding-right: 30px;
  }

  .project2 {
    grid-area: area2;
    padding-right: 30px;
  }
}

@media(min-width: 500px) and (max-width: 999px) {
  .sidebar {
    font-size: 1rem;
    width: 100px;
  }

  .main_area {
    left: 100px;
    width: 90%;
  }

  .projects {
    display: grid;
    grid-template-areas:
  	"area1"
    "area2"
  }

  .project1 {
    grid-area: area1;
  }

  .project2 {
    grid-area: area2;
  }
}

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgb(33,37,43);
  color: white;
  padding: 1rem;
  box-sizing: border-box;
}

.sidebar_menu {
  padding: 0px;
  margin: 0px;
}

.sidebar_item {
  list-style: none;
  padding-bottom: 2rem;
}

.sidebar_item:hover {
  color: #78d4f0;
}

.main_area {
  position: relative;
  text-align: center;
  background-color: rgb(63,67,73);
  top: 0px;
  bottom: 0px;
  right: 0px;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.about_me_text {
  padding-left: 3rem;
  padding-right: 3rem;
}
