body {
  font-family: arial, sans-serif;
  margin: 0px;
  background-color: rgb(63,67,73);
}

a {
	text-decoration: none;
	color: inherit;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

@media(min-width: 1000px) {
  .sidebar {
    font-size: 1.7rem;
    width: 200px;
  }

  .main_area {
    left: 200px;
    width: 85%;
  }

  .projects {
    display: grid;
    grid-template-areas:
  	"area1 area2"
    "area3 area3"
    "area4 area4"
  }

  .tracker_area {
    display: grid;
    grid-template-areas:
  	"area1_st area2_st"
  }

  #first_unit_select {
    margin-right: 50px;
    padding-right: 20px;
  }

  .st1 {
    grid-area: area1_st;
    margin-left: 300px;
  }

  .st2 {
    grid-area: area2_st;
    margin-right: 300px;
  }

  .st_button {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
  }

  .project1 {
    grid-area: area1;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }

  .project2 {
    grid-area: area2;
    padding-right: 100px;
    padding-bottom: 100px;
  }

  .project3 {
    grid-area: area3;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
  }

  .project4 {
    grid-area: area4;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media(min-width: 500px) and (max-width: 999px) {
  .sidebar {
    font-size: 1rem;
    width: 100px;
  }

  .main_area {
    left: 100px;
    width: 90%;
  }

  .projects {
    display: grid;
    grid-template-areas:
  	"area1"
    "area2"
    "area3"
    "area4"
  }

  .project1 {
    grid-area: area1;
  }

  .project2 {
    grid-area: area2;
  }

  .project3 {
    grid-area: area3;
  }

  .project4 {
    grid-area: area4;
  }
}

.help .tiptext {
  visibility: hidden;
  position: absolute;
  margin-left: 20px;
}

.help:hover .tiptext {
  visibility: visible;
}


.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgb(33,37,43);
  color: white;
  padding: 1rem;
  box-sizing: border-box;
}

.sidebar_menu {
  padding: 0px;
  margin: 0px;
}

.sidebar_item {
  list-style: none;
  padding-bottom: 2rem;
}

.sidebar_item:hover {
  color: #78d4f0;
}

.highlight:hover {
  color: #78d4f0;
}

.main_area {
  position: relative;
  text-align: center;
  background-color: rgb(63,67,73);
  top: 0px;
  bottom: 0px;
  right: 0px;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.st_main_area {
  position: relative;
  text-align: center;
  background-color: rgb(63,67,73);
  top: 0px;
  bottom: 0px;
  right: 0px;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.st_add_buttons {
  text-align: left;

}

#leaderboard_unit_select {
  margin-bottom: 20px;
}

.about_me_text {
  padding-left: 2cm;
  padding-right: 1cm;
}

.coolfrog {
  background-image: url("https://media.istockphoto.com/id/97930844/photo/cool-frog.jpg?s=612x612&w=0&k=20&c=Z0l1NkR32YjL2eRKOwMbDy392r7Iek9v2_nUqLm2W3M=");
  background-size: 3cm;
}


